$feature-color:			rgba(65, 183, 216, 1);
$body-text-color:		rgba(25, 25, 25, 1);
$hcontrast-text-color:	rgba(255, 255, 255, 1);
$error-text-color:		rgba(216, 30, 91, 1);

$body-bg:				rgba(255, 255, 255, 1);
$contrast-bg:			rgba(238, 238, 238, 1);
$hcontrast-bg:			rgba(25, 25, 25, 1);
$error-bg:				rgba(216, 30, 91, 0.1);

$darker-bg:				rgba(0, 0, 0, 0.25);
$lighter-bg:			rgba(255, 255, 255, 0.25);
	
$curve-radius:			4px;
	
$body-font:				Lato, sans-serif;
$feature-font:			Source Sans Pro, sans-serif;
	
$site-width:			1140px;

$mobile-width:			400px;
$phablet-width:			550px;
$tablet-width:			750px;
$desktop-width:			1000px;

@import "partials/functions";

@import "partials/forms";
@import "partials/grid";

/* =====================================*/
/*			GLOBALS						*/
/* =====================================*/

/* Box-sizing hack for cross-browser box sizing */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: $body-font;
}

a {
	color: inherit;
	text-decoration: none;
	
	@include transition(color 0.25s);
}

a:hover {
	color: $feature-color;
}

/* =====================================*/
/*			SITE-WIDE HEADER			*/
/* =====================================*/

/* =====================================*/
/*			SITE-WIDE FOOTER			*/
/* =====================================*/

/* =====================================*/
/*			HEADINGS					*/
/* =====================================*/

h1, h2, h3 {
	font-family: $feature-font;
	font-weight: normal;
}

/* =====================================*/
/*			PAGE-SPECIFIC				*/
/*	 Try to have as few as possible		*/
/* =====================================*/

/* =====================================*/
/*			FORMS						*/
/* =====================================*/

form input, form textarea {
	width: 100%;
	margin-bottom: 1em;
}

form input.error, form textarea.error {
	border: 1px solid $error-text-color;
	background-color: $error-bg;
}

/* =====================================*/
/*			EXTRAS						*/
/*	 If there's lots, we'll add category*/
/* =====================================*/

/* =====================================*/
/*			UTILITY CLASSES				*/
/* =====================================*/

/* Font-sizes based on Golden Ratio */
.fontsize-tiny { font-size: 12px }
.fontsize-small { font-size: 14px }
.fontsize-normal { font-size: 16px }
.fontsize-large { font-size: 21px }
.fontsize-xlarge { font-size: 28px }
.fontsize-huge { font-size: 37px }
.fontsize-xhuge { font-size: 50px }

.faint { color: grey; }

.block {
	/* Full width colour block, usually with a .wrap inside */
	width: 100%;
	background-color: $contrast-bg;
}

.button {
	background-color: $feature-color;
	padding: 1em;
	border-radius: 0.5em;
	color: $hcontrast-text-color;
	border: 1px solid $feature-color;
	
	@include transition(background-color 0.25s, color 0.25s)
}

.button:hover {
	background-color: $hcontrast-text-color;
	color: $feature-color;
}

.float-left { float: left; }
.float-right { float: right; }
.float-clear { clear: both; }

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

.pad-top { padding-top: 3em; }
.pad-bottom { padding-bottom: 3em; }

.border-bottom { border-bottom: 1px solid $darker-bg; }

.no-margin { margin-top: 0; margin-bottom: 0; }

.caps { text-transform: uppercase; }

.bold { font-weight: bold; }
