th, td {
	padding: 1em;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}

th {
	border-bottom: 1px solid $darker-bg;
}

th:first-child, td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}
